.css-10nd86i.form-control,
.css-1sontr1.form-control {
	padding: 0;
}
.form-control .css-1aya2g8,
.form-control .css-2o5izw {
	box-shadow: 0 0 0 1px #80bdff;
}
.form-control .css-2o5izw:hover {
	border: #80bdff;
}